######################################################################
# config variables 
######################################################################

#Provider variable

AzureSubscriptionID                     = ""
AzureClientID                           = ""
AzureClientSecret                       = ""
AzureTenantID                           = ""

statestoa                               = ""
statecontainer                          = ""
statekeyAKSClusState                   = ""
statestoakey                            = ""

SubsetupSTOAName                        = ""
SubsetupContainerName                   = ""
SubsetupKey                             = ""
SubsetupAccessKey                       = ""


