terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
*.tfstate*
.terraform/
crash.log
*.log
/Tests/*
terraformbackendconfig.tf
/02_PodIdentity_Yaml/PodId/*.yaml
/02_PodIdentity_Yaml/SecretStore/*.yaml
/11_Scripts
/04_Velero
/10_Tad
/Modules
backend.hcl
/armextract/

