terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
*.tfstate*
.terraform/
crash.log
*.log
/Tests/*
terraformbackendconfig.tf
/02_PodIdentity_Yaml/PodId/*.yaml
/02_PodIdentity_Yaml/SecretStore/*.yaml