######################################################################
# config variables 
######################################################################

#Provider variable

AzureSubscriptionID                     = ""
AzureClientID                           = ""
AzureClientSecret                       = ""
AzureTenantID                           = ""

RGLogName                               = ""
LawSubLogName                           = ""
STASubLogName                           = ""

AKSClusterAdminsIds                     = ""
AKSSSHKey                               = ""