######################################################################
# config variables 
######################################################################

######################################################################
#Provider variable

AzureSubscriptionID                 = ""
AzureClientID                       = ""
AzureClientSecret                   = ""
AzureTenantID                       = ""



#Observability Basics variables
ASCPricingTier                      = "Standard"
IsDeploymentTypeGreenField           = true
ASCContactMail                      = ""
SubContactList                      = ""